<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="w-100" matSort>
    <ng-container matColumnDef="firstName">
      <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td class="table-first-cell" mat-cell *matCellDef="let element">{{element.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td class="table-first-cell" mat-cell *matCellDef="let element">{{element.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td class="table-first-cell" mat-cell *matCellDef="let element">{{element.date}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="2" (page)="pageChange()"></mat-paginator>

</div>